

HTML, Body {
    background-color: #34495e;
    color: black;
    font-family: sans-serif;
    margin: auto;
    max-width: 700px;
}

div[role="main"]
{
    background-color: #ecf0f1;
    border-radius: 15px;
    border: 2px solid #bdc3c7;
    padding: 25px;

    font-size: 18px;
}

.round {
    border-radius: 50%;
    border: 2px solid #FFF;
}

.social
{
    display: inline-block;
    margin-top: 10px;
}

.social>a>img
{
    margin-left: 10px;
    width: 30%;
}
